/* * { 
    margin: 0;
    padding: 0;
} */
.ul1 {
    list-style: none;
}
/*.ul2 {
    list-style: none;
    border-bottom: 30px grey;
} */
.knopochka1 {
border: 2px;
width: 86px;
height: 78px;
border-radius: 6px;
background-color: #ffd670;
}
.knopochka2 {
border: 2px;
    width: 86px;
height: 78px;
border-radius: 6px;
background-color: #ffd670;
}
.knopochka3 {
    color: black;
    border: 1px;
}
.ROMBIKI {
    width: 338px;
height: 338px;
border-radius: 20px;
background-color: #fff0ca;
border: 7px solid #e9c979;
transform: rotate(45deg);
} 