/* * { 
    margin: 0;
    padding: 0;
} */
.ul1 {
    list-style: none;
}
/*.ul2 {
    list-style: none;
    border-bottom: 30px grey;
} */
.knopochka1 {
border: 2px;
width: 86px;
height: 78px;
border-radius: 6px;
background-color: #ffd670;
}
.knopochka2 {
border: 2px;
    width: 86px;
height: 78px;
border-radius: 6px;
background-color: #ffd670;
}
.knopochka3 {
    color: black;
    border: 1px;
}
.ROMBIKI {
    width: 338px;
height: 338px;
border-radius: 20px;
background-color: #fff0ca;
border: 7px solid #e9c979;
transform: rotate(45deg);
} 
.text_area {
    width: 345px; /* Ширина поля в процентах */
    height: 200px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
}
.button {
    width: 191px;
    height: 56px;
    border-radius: 3px;
    background-color: #ffd670;
    color: white;
    border: 0px;
}