 * { 
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular-webfont.eot');
    src: url('RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Regular-webfont.woff2') format('woff2'),
         url('RobotoSlab-Regular-webfont.woff') format('woff'),
         url('RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('RobotoSlab-Regular-webfont.svg#Roboto Slab') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular.eot');
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url('Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
        url('Pacifico-Regular.woff') format('woff'),
        url('Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.eot');
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-Regular.woff') format('woff'),
        url('SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.ul1{
    list-style: none;
}
/*.ul2 {
    list-style: none;
    border-bottom: 30px grey;
} */
.head {
    width: 1903px;
    height: 954px;
    background-color: #5c5766;   
}
.head:before {
    background-size: cover;
}
.ggg {
    width: 1800px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 89px;
    color: #ffffff;
    font-family: "roboto_slabregular";
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.ggg:after {
    color: white;
}
.nav {
    display: flex;
    justify-content: space-around;
    margin-right: 0%;
}
.kkk {
    display: inline-block;
    justify-content: space-around;
    font-family: "roboto_slabregular";
}
.logo {
    display: flex;
    justify-content: center;
    font-family: "Pacifico";
    position: absolute;
    z-index: 1;
    font-size: 50px;
    letter-spacing: -4px;
    color: #4e4460;
    font-weight: 400;
    padding-right: 5px;
    margin-bottom: 15px;
}
.lll {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffffff;
    margin: 0 auto;
}
.hhh {
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #ffffff;
}
.aaa {
    margin: 17px;
}
.r {
    width: 1000px;
    height: 27px;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "gg";
    font-weight: 400;
    text-align: center;
}
.rr {
    position: absolute;
    z-index: auto;
    margin-top: 151px;
    margin-left: 10px;
}
.rrr {
    position: absolute;
    z-index: auto;
    width: 1000px;
    height: 64px;
    font-size: 66px;
    letter-spacing: 3px;
    line-height: 30px;
    color: #ffffff;
    font-family: "gg";
}
.rrrr {
    display: flex;
    justify-items: center;
    padding-top: 215px;
    padding-left: 459px;
}
.n {
    position: absolute;
    z-index: auto;
    width: 1000px;
    height: 43px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "gg";
    font-weight: 300;
}
.nn {
    text-align: center;
    margin-top: 290px;
    margin-left: 30px;
}
.b {
    padding-left: 10px;
}
.logo_img {
    list-style: none;
}
.kk {
    margin-bottom: 100px;
    margin-right: 120px;
    position: absolute;
    z-index: 0;
}
.kkkk {
    position: absolute;
    z-index: auto;
    margin-top: 13px;
    margin-right: 250px;
}
.y {
    position: absolute;
    z-index: 1;
    margin-right: 120px;
    margin-top: 15px;
}
.yy {
    position: absolute;
    z-index: 1;
    margin-right: -7px;
    margin-top: 11px;
}
.yyy {
    position: absolute;
    z-index: 0;
    margin-right: -5px;
}
.q {
    position: absolute;
    z-index: 1;
    margin-right: -130px;
    margin-top: 17px;
}
.qqqqq {
    position: absolute;
    z-index: 0;
    margin-right: -130px;
}
.qqq {
    position: absolute;
    z-index: auto;
    margin-right: -266px;
    margin-top: 13px;
}

.head_inf {
    display: flex;
    justify-content: center;
    align-content: center;
}
.uu {
    margin-top: 200px;
    font-size: 18px;
    letter-spacing: 4px;
    color: #ffffff;
    font-family: "gg";
    font-weight: 700;
    
}
.u_age {
    position: absolute;
    z-index: auto;
    margin-right: 600px;
}
.u_count {
    position: absolute;
    z-index: auto;
    margin-right: 150px;
}
.u_work {
    position: absolute;
    z-index: auto;
    margin-left: 500px;
}
.u_age_color {
    color: #ffd670
}
.u_age_count {
    color: #ffd670
}
.u_age_work {
    color: #ffd670
}
.logooo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
}
.logoooo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0px;
}
.about {
    width: 1903px;
    height: 954px;
    background-color: #524664;
}
.logo_about {
    display: flex;
    z-index: 1;
    padding-top: 119px;
}
.logo_border {
    border-width: 2px;
    border-color: rgb(255, 214, 112);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 902px;
    top: 955px;
    width: 96px;
    height: 96px;
    z-index: 257;
    
}
.fff {
    margin-top: 104px;
}
.text_about {
    position: absolute;
    z-index: auto;
    width: 1000px;
    height: 34px;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: 'Roboto Slab';
    font-weight: 700;
    text-align: center;
    margin-top: 224px;
}
.text_border {
    position: absolute;
    z-index: 0;
    text-align: center;
    margin-top: 262px;
}
.text_doyou {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 240, 202);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    left: -5.254px;
    top: 1910.546px;
    width: 260px;
    height: 12px;
    z-index: 198;
      
}
.krug {
    position: absolute;
    z-index: auto;
    width: 367px;
    height: 352px;
    border-radius: 500px;
    background-color: #524664;
    border: 6px solid #ffd670;
    margin-top: 550px;
}
.dop_krug {
    width: 255px;
    height: 255px;
    border-radius: 500px;
    background-color: #ffd670;
    position: absolute;
    z-index: 0;
    margin-top: 605px;
}
.hh {
    position: absolute;
    z-index: auto;
    margin-top: 250px;
    margin-left: 700px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 700;
}
.hhhh {
    position: absolute;
    z-index: auto;
    margin-top: 293px;
    margin-left: 730px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #c4c0cf;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.border_dlin_first {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 340px;
    margin-left: 1112px;
}
.border_dlin_second {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 390px;
    margin-left: 1112px;
}
.border_dlin_second_on {
    position: absolute;
    z-index: auto;
    width: 388px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 390px;
    margin-left: 985px;
}
.border_dlin_third {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 440px;
    margin-left: 1112px;
}
.border_dlin_third_on {
    position: absolute;
    z-index: auto;
    width: 181px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 440px;
    margin-left: 778px;
}
.text_coding {
    position: absolute;
    z-index: auto;
    margin-top: 490px;
    margin-left: 730px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #c4c0cf;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.border_dlin_fourth {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 540px;
    margin-left: 1112px;
}
.border_dlin_fourth_on {
    position: absolute;
    z-index: auto;
    width: 414px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 540px;
    margin-left: 1010px;
}
.border_dlin_fifth {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 590px;
    margin-left: 1112px;
}
.border_dlin_fifth_on {
    position: absolute;
    z-index: auto;
    width: 372px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 590px;
    margin-left: 970px;
}
.border_dlin_sixth {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 640px;
    margin-left: 1112px;
}
.border_dlin_sixth_on {
    position: absolute;
    z-index: auto;
    width: 233px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 640px;
    margin-left: 832px;
}
.text_adobe {
    margin-top: 342px;
    margin-left: 750px;
    position: absolute;
    z-index: auto;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_adobeil {
    margin-top: 392px;
    margin-left: 754px;
    position: absolute;
    z-index: auto;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_adobede {
    margin-top: 440px;
    margin-left: 725px;
    position: absolute;
    z-index: auto;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num10 {
    position: absolute;
    z-index: auto;
    margin-top: 343px;
    margin-left: 1550px;
    font-size: 15px;
    line-height: 31px;
    color: #4f4b58;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.text_num7 {
    position: absolute;
    z-index: auto;
    margin-top: 390px;
    margin-left: 1300px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num3 {
    position: absolute;
    z-index: auto;
    margin-top: 440px;
    margin-left: 920px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_html {
    position: absolute;
    z-index: auto;
    margin-top: 540px;
    margin-left: 720px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_css {
    position: absolute;
    z-index: auto;
    margin-top: 590px;
    margin-left: 700px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_js {
    position: absolute;
    z-index: auto;
    margin-top: 640px;
    margin-left: 770px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num8 {
    position: absolute;
    z-index: auto;
    margin-top: 540px;
    margin-left: 1350px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num72 {
    position: absolute;
    z-index: auto;
    margin-top: 590px;
    margin-left: 1280px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_4 {
    position: absolute;
    z-index: auto;
    margin-top: 640px;
    margin-left: 1000px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_who {    
    position: absolute;
    z-index: 0;
    margin-top: 249px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-right: 1392px;
}
.text_vordered {
    border: 1px solid;
    border-width: 1px;
    border-color: #524664;
    padding: 2px;
    width: 500px;
    word-break: break-all;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #c4c0cf;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-right: 1000px;
    margin-top: 295px;
}
.text_bordered {
    position: absolute;
    z-index: auto;
    border: 1px solid;
    border-width: 1px;
    border-color: #524664;
    padding: 2px;
    width: 500px;
    word-break: break-all;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #c4c0cf;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-right: 1000px;
    margin-top: 495px;
}
.krugi_first {
    position: absolute;
    z-index: auto;
    margin-right: 1449px;
    margin-top: 690px;
}
.krugi_second {
    position: absolute;
    z-index: auto;
    margin-right: 1319px;
    margin-top: 690px;
}
.krugi_third {
    position: absolute;
    z-index: auto;
    margin-right: 1180px;
    margin-top: 690px;
}
.twitter {
    position: absolute;
    z-index: auto;
    margin-right: 1449px;
    margin-top: 705px;
}
.ball {
    position: absolute;
    z-index: auto;
    margin-right: 1318px;
    margin-top: 701px;
}
.be {
    position: absolute;
    z-index: auto;
    margin-right: 1178px;
    margin-top: 707px;
}
.ROMBIKI {
    width: 338px;
    height: 338px;
    border-radius: 20px;
    background-color: #fff0ca;
    border: 7px solid #e9c979;
    transform: rotate(45deg);
} 
.text_logo {
    position: absolute;
    display: flex;
    margin-left:800px;
    z-index: auto;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 700;
    padding-top: 100px;
}
.portfolio_first {
    width: 1903px;
    height: 1846px;
    background-color: #ffd670;
    
}
.portfolio_kvad {
    position: absolute;
    z-index: auto;
    width: 971px;
    height: 683px;
    background-color: #5c5766;
    margin-left: 690px;
    top: 2260px;
}


.polosa {
    position: absolute;
    display: flex;
    z-index: auto;
    margin-left:850px;
    margin-top: 144px;
}
.text_doyou {
    position: absolute;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #fff0ca;
    font-family: "Roboto Slab";
    font-weight: 300;
    margin-left:780px;
    margin-top: 159px;
}
.knopochka1 {
    position: absolute;
    z-index: 0;
    border: 2px;
    width: 86px;
    height: 78px;
    border-radius: 6px;
    background-color: #ffd670;
    opacity: 0.7;
    margin-left: 669px;
    top: 2571px;
}

/*.knopochka1:active {
    background-color: #c6aa6c;
} для проверки кнопочкиииии*/
.knopochka2 {
    position: absolute;
    border: 2px;
    width: 86px;
    height: 78px;
    border-radius: 6px;
    background-color: #ffd670;
    margin-left: 1595px;
    top: 2571px;
    opacity: 0.7;
}
.knopochka3 {
    color: black;
    border: 0px solid #5c5766;
    
}

.text_button_first {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
}
.text_button_second {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
}
.text_button_third {
    position: absolute;
    margin-left: 1618px;
    top: 2282px;
    color: whitesmoke;
    font-size: 30px;
    font-family: "Source Sans Pro";
    opacity: 0.7;
    text-decoration: none;
}
.text_proj {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 241, 206);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 150.937px;
    top: 2216.546px;
    width: 138px;
    height: 12px;
    z-index: 167;
}
.iOS_7_Weather_App_Desıgn {
    font-size: 23px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.304;
    text-align: left;
    position: absolute;
    left: 149.938px;
    top: 2258.687px;
    width: 304px;
    height: 23px;
    z-index: 170;
  }
.polosa_second {
    border: 1px solid rgb(255, 227, 156);
    background-color: rgb(255, 227, 156);
    position: absolute;
    left: 152px;
    top: 2319px;
    width: 479px;
    height: 0px;
    z-index: auto; 
}
  
.project_description{
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 241, 206);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 150.937px;
    top: 2337.546px;
    width: 200px;
    height: 12px;
    z-index: auto;
  }
.Os_7_Design_Weather_App_icons_iPhone_App_Design {
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 207.937px;
    top: 2373.38px;
    height: 74px;
    z-index: 174;
  }
  
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 151.147px;
    top: 2475.383px;
    width: 468px;
    height: 101px;
    z-index: 172;
  }
  
  .polosa_third {
    background-color: rgb(255, 227, 156);
    position: absolute;
    left: 152px;
    top: 2605px;
    width: 479px;
    height: 2px;
    z-index: 169;
  }
  
  .project_Web_site__or_Address {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 241, 206);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 150.937px;
    top: 2642.546px;
    width: 281px;
    height: 14px;
    z-index: 179;
  }
  
  .http{
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 203.937px;
    top: 2687.546px;
    width: 207px;
    height: 16px;
    z-index: 180;
    text-decoration: none;
  }
  
  .dot {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 183.48px;
    top: 781.51px;
    width: 11px;
    height: 11px;
    z-index: 175;
  }
  .dot2 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 178.47px;
    top: 2380px;
    width: 11px;
    height: 11px;
    z-index: 175;
  }
  .dot3 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 178.47px;
    top: 2410px;
    width: 11px;
    height: 11px;
    z-index: 177;
  }
  
  .dot4 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 178.47px;
    top: 2436px;
    width: 11px;
    height: 11px;
    z-index: 179;
  }
  
  .dot5 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 178.47px;
    top: 2693px;
    width: 11px;
    height: 11px;
    z-index: 177;
  }
  
  .tags {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 241, 206);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 152.203px;
    top: 2763.546px;
    width: 50px;
    height: 12px;
    z-index: 183;
  }
  .polosa_forth {
    background-color: rgb(255, 227, 156);
    position: absolute;
    left: 152px;
    top: 2736px;
    width: 479px;
    height: 2px;
    z-index: 182;
  }
  
  .iphone__iOs_7__weather__app__design__apple {
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 150.937px;
    top: 2806.383px;
    width: 309px;
    height: 14px;
    z-index: 173;
  }
.eee {
    display: flex;
    font-size: 12px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    line-height: 2.5;
    margin-left: 612px;
    margin-top: 1083px;
    z-index: 159;
}

.g {
    margin-left: 75.73px;
}
.gg {
    margin-left: 75.73px;
}
.gggg {
    margin-left: 75.73px;
}
.ggggg {
    margin-left: 75.73px;
}
.Rounded_Rectangle_1 {
    border-width: 1px;
    border-color: rgb(255, 240, 202);
    border-style: solid;
    border-radius: 2px;
    position: absolute;
    left: 595px;
    top: 3005px;
    width: 56px;
    height: 37px;
    z-index: 158;
  }

  .Shape_55 {
    background-color: rgb(255, 240, 202);
    position: absolute;
    left: 180px;
    top: 3178px;
    width: 240px;
    height: 240px;
    z-index: 160;
    border-radius: 20px;
    transform: rotate(45deg);
  }

  .Shape_55_copy {
    background-color: rgb(255, 240, 202);
    position: absolute;
    left: 570px;
    top: 3178px;
    width: 240px;
    height: 240px;
    z-index: 161;
    border-radius: 20px;
    transform: rotate(45deg);
  }
  .Shape_55_copy_2 {
    background-color: rgb(92, 87, 102);
    position: absolute;
    left: 951px;
    top: 3178px;
    width: 240px;
    height: 240px;
    z-index: 162;
    border-radius: 20px;
    transform: rotate(45deg);
  }
  .Shape_55_copy_3 {
    border-style: solid;
    border-width: 7px;
    border-color: rgb(255, 240, 202);
    background-color: rgb(255, 240, 202);
    position: absolute;
    left: 1373px;
    top: 3178px;
    width: 240px;
    height: 240px;
    z-index: 163;
    border-radius: 20px;
    transform: rotate(45deg);
  }
  .Shape_55_copy_4 {
    border-style: solid;
    border-width: 7px;
    border-color: rgb(255, 240, 202);
    background-color: rgb(255, 240, 202);
    position: absolute;
    left: 365px;
    top: 3399px;
    width: 240px;
    height: 240px;
    z-index: 164;
    border-radius: 20px;
    transform: rotate(45deg);
  }
  
  .Shape_55_copy_5 {
    border-style: solid;
    border-width: 7px;
    border-color: rgb(255, 240, 202);
    background-color: rgb(255, 240, 202);
    position: absolute;
    left: 752px;
    top: 3399px;
    width: 240px;
    height: 240px;
    border-radius: 20px;
    transform: rotate(45deg);
    z-index: 165;
  }
  .Shape_55_copy_6 {
    border-style: solid;
    border-width: 7px;
    border-color: rgb(255, 240, 202);
    background-color: rgb(255, 240, 202);
    position: absolute;
    left: 1150px;
    top: 3399px;
    width: 240px;
    height: 240px;
    border-radius: 20px;
    transform: rotate(45deg);
    z-index: 166;
  }
  .qqqqqq {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    left: 960.667px;
    top: 3256.546px;
    width: 212px;
    height: 16px;
    z-index: 191;
  }
  .qq {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: #d4d2d6;
    line-height: 1.538;
    text-align: center;
    position: absolute;
    left: 959.969px;
    top: 3290.057px;
    width: 220px;
    height: 30px;
    z-index: 192;  
  }
  .Ellipse_1_copy_2 {
    border-width: 3px;
    border-color: rgb(196, 192, 207);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 939px;
    top: 590px;
    width: 42px;
    height: 42px;
    z-index: 289;
  }
  
  .Shape_78 {
    border-radius: 50%;
    background-color: rgb(225, 68, 20);
    opacity: 0.722;
    position: absolute;
    left: 1040px;
    top: 3338px;
    width: 65px;
    height: 65px;
    z-index: 193;
  }
  
  .Layer_52 {
    position: absolute;
    left: 1060px;
    top: 3359px;
    width: 23px;
    height: 23px;
    z-index: 194;
  }
  .blog_back {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    top: 3801px;
    width: 1800px;
    height: 3140px;
    z-index: 54;  
}
.blog_text_first {
    font-size: 35px;
    font-family: "Roboto Slab";
    color: rgb(91, 96, 116);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.857;
    position: absolute;
    left: 844px;
    top: 99.58px;
    width: 94px;
    height: 25px;
    z-index: 147;
  }
.polosa_first {
    background-color: rgb(219, 221, 229);
    position: absolute;
    left: 847px;
    top: 143px;
    width: 88px;
    height: 3px;
    z-index: 146;
}
.text_recent {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(165, 170, 190);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    left: 789px;
    top: 153px;
    width: 203px;
    height: 12px;
    z-index: 148;
  }
    .Layer_55 {
    position: absolute;
    left: 422px;
    top: 153px;
    width: 700px;
    height: 525px;
    z-index: 66;
}

.Shape_47 {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.846;
    text-align: left;
    position: absolute;
    left: 1143.12px;
    top: 4119.121px;
    width: 55px;
    height: 9px;
    z-index: 57;
  }
  .Ut_interdum_tortor_eu_sapien_mattis_tempus {
    font-size: 24px;
    font-family: "Roboto Slab";
    color: rgb(55, 60, 79);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.542;
    text-align: left;
    position: absolute;
    left: 437.937px;
    top: 666.996px;
    width: 657px;
    height: 17px;
    z-index: 56;
  }
  .text_24 {
    font-size: 11px;
    font-family: "Roboto Slab";
    color: rgb(196, 192, 207);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 439.359px;
    top: 710.856px;
    width: 237px;
    height: 8px;
    z-index: 62;
  }
  .text_Lorem{
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 439.147px;
    top: 739.383px;
    width: 671px;
    height: 254px;
    z-index: 58;
  }
  .text_Lorem1{
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 439.147px;
    top: 845.383px;
    width: 671px;
    height: 254px;
    z-index: 58;
  }
  .TAGS12 {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 2.308;
    text-align: left;
    position: absolute;
    left: 439.59px;
    top: 1030.121px;
    width: 200px;
    height: 13px;
    z-index: 59;
  }
  .COMMENTS {
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    font-weight: bold;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 438.942px;
    top: 1105.383px;
    width: 106px;
    height: 11px;
    z-index: 85;
  }
  .Shape_86 {
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    left: 440px;
    top: 1179px;
    width: 70px;
    height: 70px;
    z-index: 87;
  }
  .Emrah_Demirag {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(255, 219, 131);
    font-weight: bold;
    line-height: 2.308;
    text-align: left;
    position: absolute;
    left: 528.938px;
    top: 1173.057px;
    width: 103px;
    height: 13px;
    z-index: 86;
  }
  .October{
    font-size: 11px;
    font-family: "Roboto Slab";
    color: rgb(196, 192, 207);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 529.937px;
    top: 1199.856px;
    width: 209px;
    height: 10px;
    z-index: 93;
  }
  .ty {
    color: rgb(255, 219, 131);
    font-size: 11px;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 688.937px;
    top: 1199.856px;
    width: 209px;
    height: 10px;
    z-index: 93;
  }
  .Pellentesque_vitae_lacus_tempus__mollis_erat_in {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 1.923;
    text-align: left;
    position: absolute;
    left: 527.938px;
    top: 1233.121px;
    width: 571px;
    height: 38px;
    z-index: 83;
  }
  .Shape_83_copy_2 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 440px;
    top: 1317px;
    width: 672px;
    height: 1px;
    z-index: 90;
  }
  .Shape_86_copy {
    border-radius: 3px;
    position: absolute;
    left: 530px;
    top: 1358px;
    width: 70px;
    height: 70px;
    z-index: 101;
  }
  .Sirzat_Aytac {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(255, 219, 131);
    font-weight: bold;
    line-height: 2.308;
    text-align: left;
    position: absolute;
    left: 619.12px;
    top: 1353.121px;
    width: 79px;
    height: 13px;
    z-index: 100;
  }
  .October1{
    font-size: 11px;
    font-family: "Roboto Slab";
    color: rgb(196, 192, 207);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 619.937px;
    top: 1379.856px;
    width: 214px;
    height: 10px;
    z-index: 103;
  }
  .October1_sec{
    font-size: 11px;
    font-family: "Roboto Slab";
    color: rgb(255, 219, 131);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 784.937px;
    top: 1379.856px;
    width: 214px;
    height: 10px;
    z-index: 103;
  }
  .Vestibulum_quis_pharetra_massa__Ut_adipiscing_e {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 1.923;
    text-align: left;
    position: absolute;
    left: 618.937px;
    top: 1410.121px;
    width: 489px;
    height: 38px;
    z-index: 99;
  }
  .Shape_83_copy_2_sec {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 440px;
    top: 1497px;
    width: 672px;
    height: 1px;
    z-index: 90;
  }
  .ava {
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    left: 440px;
    top: 1537px;
    width: 70px;
    height: 70px;
    z-index: 96;
  }
  .Emrah_Demirağ {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(255, 219, 131);
    font-weight: bold;
    line-height: 2.308;
    text-align: left;
    position: absolute;
    left: 528.938px;
    top: 1535.057px;
    width: 103px;
    height: 13px;
    z-index: 95;
  }
  .October_thir{
    font-size: 11px;
    font-family: "Roboto Slab";
    color: rgb(196, 192, 207);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 529.937px;
    top: 1563.856px;
    width: 214px;
    height: 10px;
    z-index: 98;
  }
  .October_thir_sec{
    font-size: 11px;
    font-family: "Roboto Slab";
    color: rgb(255, 219, 131);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 690.937px;
    top: 1563.856px;
    width: 214px;
    height: 10px;
    z-index: 98;
  }
  .Pellentesque_vitae_lacus_tempus__mollis_erat_in1 {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 1.923;
    text-align: left;
    position: absolute;
    left: 527.938px;
    top: 1593.121px;
    width: 571px;
    height: 38px;
    z-index: 94;
  }
  
  .Shape_83_copy_4 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 440px;
    top: 1675px;
    width: 672px;
    height: 1px;
    z-index: 92;
  }
  .LEAVE_A_REPLY__ {
    font-size: 15px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    font-weight: bold;
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 438.937px;
    top: 1724.383px;
    width: 120px;
    height: 11px;
    z-index: 84;
  }
  .Your_email_address_will_not_be_published__Requi {
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(137, 141, 157);
    line-height: 2.308;
    text-align: left;
    position: absolute;
    left: 439.707px;
    top: 1765.121px;
    width: 494px;
    height: 13px;
    z-index: 89;
  }
  .Shape_69_copy_2 {
    background-image: url(../imgs/Shap69copy2.png);
    position: absolute;
    left: 460px;
    top: 1849px;
    width: 300px;
    height: 58px;
    z-index: 104;
    border: 0px;
  }
  .ghg {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(202, 202, 202);
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 469.347px;
    top: 1748.546px;
    width: 89px;
    height: 12px;
    z-index: 106;
  }
  .input1::placeholder{
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(202, 202, 202);
    text-align: left;
    position: absolute;
    left: 469.347px;
    top: 1758.546px;
    width: 89px;
    height: 12px;
    z-index: 106;
  }
  .Shape_69_copy_5 {
    background-image: url("../imgs/Shap69copy2.png");
    position: absolute;
    left: 787px;
    top: 1849px;
    width: 300px;
    height: 58px;
    border: 0px;
    z-index: 108;
  }
  .input2::placeholder {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(202, 202, 202);
    text-align: left;
    position: absolute;
    left: 816.347px;
    top: 1748.546px;
    width: 89px;
    height: 13px;
    z-index: 110;
  }
  .Layer_73_copy_2 {
    background-image: url("../imgs/Layer 73 copy 2.png");
    position: absolute;
    left: 460px;
    top: 1957px;
    width: 625px;
    height: 185px;
    z-index: 112;
    border: 0px;
    resize: none;
  }
  .input3::placeholder {
    font-size: 16px;
    font-family: "Roboto Slab";
    color: rgb(202, 202, 202);
    line-height: 1.875;
    text-align: left;
    position: absolute;
    left: 468.937px;
    top: 5828.509px;
    width: 78px;
    height: 12px;
    z-index: 114;
  }
  .You_may_use_these_HTML_tags_and_attributes{
    font-size: 13px;
    font-family: "Roboto Slab";
    color: rgb(202, 202, 202);
    line-height: 1.923;
    text-align: left;
    position: absolute;
    left: 460.707px;
    top: 2169.121px;
    width: 663px;
    height: 38px;
    z-index: 115;
  }
  .Shape_84 {
    border-radius: 3px;
    background-color: rgb(255, 214, 112);
    position: absolute;
    left: 440px;
    top: 2077px;
    width: 191px;
    height: 56px;
    z-index: 116;
    border: 0px;
    color:white;
  }
  .POST_COMMENT {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.786;
    text-align: center;
    position: absolute;
    left: 458.998px;
    top: 2261.25px;
    width: 191px;
    height: 56px;
    z-index: 117;
  }
  .Layer_44 {
      position: absolute;
    border-radius: 20px;
    height: 477px;
    width: 347px;
    background-color: rgb(255, 214, 112);
    left: 140px;
    top: 2488px;
    z-index: 125;
}
.kvad_ser { 
    position: absolute;
    height: 183px;
    width: 191px;
    background-color: #f3f3f3;
    top: 2488
    
}
  
  
  