* { 
    margin: 0;
    padding: 0;
}
    @font-face {
        font-family: 'Roboto Slab';
        src: url('RobotoSlab-Regular-webfont.eot');
        src: url('RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('RobotoSlab-Regular-webfont.woff2') format('woff2'),
             url('RobotoSlab-Regular-webfont.woff') format('woff'),
             url('RobotoSlab-Regular-webfont.ttf') format('truetype'),
             url('RobotoSlab-Regular-webfont.svg#Roboto Slab') format('svg');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('SourceSansPro-Regular.eot');
        src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
            url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('SourceSansPro-Regular.woff') format('woff'),
            url('SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
.about {
    width: 1903px;
    height: 1004px;
    background-color: #524664;
}
.logo {
    display: flex;
    z-index: 1;
    padding-top: 119px;
}
.logo_border {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #524664;
    border: 2px solid #ffd670;
    position: absolute;
    z-index: 0;
}
.fff {
    margin-top: 104px;
}
.text_about {
    position: absolute;
    z-index: auto;
    width: 1000px;
    height: 34px;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: 'Roboto Slab';
    font-weight: 700;
    text-align: center;
    margin-top: 224px;
}
.text_border {
    position: absolute;
    z-index: 0;
    text-align: center;
    margin-top: 262px;
}
.text_doyou {
    position: absolute;
    z-index: auto;
    width: 1000px;
    height: 27px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #d0c6db;
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: center;
    margin-top: 282px;
}
.krug {
    position: absolute;
    z-index: auto;
    width: 367px;
    height: 352px;
    border-radius: 500px;
    background-color: #524664;
    border: 6px solid #ffd670;
    margin-top: 550px;
}
.dop_krug {
    width: 255px;
    height: 255px;
    border-radius: 500px;
    background-color: #ffd670;
    position: absolute;
    z-index: 0;
    margin-top: 605px;
}
.hh {
    position: absolute;
    z-index: auto;
    margin-top: 250px;
    margin-left: 700px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 700;
}
.hhh {
    position: absolute;
    z-index: auto;
    margin-top: 293px;
    margin-left: 730px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #c4c0cf;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.border_dlin_first {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 340px;
    margin-left: 1112px;
}
.border_dlin_second {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 390px;
    margin-left: 1112px;
}
.border_dlin_second_on {
    position: absolute;
    z-index: auto;
    width: 388px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 390px;
    margin-left: 985px;
}
.border_dlin_third {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 440px;
    margin-left: 1112px;
}
.border_dlin_third_on {
    position: absolute;
    z-index: auto;
    width: 181px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 440px;
    margin-left: 778px;
}
.text_coding {
    position: absolute;
    z-index: auto;
    margin-top: 490px;
    margin-left: 730px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #c4c0cf;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.border_dlin_fourth {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 540px;
    margin-left: 1112px;
}
.border_dlin_fourth_on {
    position: absolute;
    z-index: auto;
    width: 414px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 540px;
    margin-left: 1010px;
}
.border_dlin_fifth {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 590px;
    margin-left: 1112px;
}
.border_dlin_fifth_on {
    position: absolute;
    z-index: auto;
    width: 372px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 590px;
    margin-left: 970px;
}
.border_dlin_sixth {
    position: absolute;
    z-index: auto;
    width: 517px;
    height: 35px;
    border-radius: 3px;
    background-color: #615474;
    margin-top: 640px;
    margin-left: 1112px;
}
.border_dlin_sixth_on {
    position: absolute;
    z-index: auto;
    width: 233px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffd670;
    margin-top: 640px;
    margin-left: 832px;
}
.text_adobe {
    margin-top: 342px;
    margin-left: 750px;
    position: absolute;
    z-index: auto;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_adobeil {
    margin-top: 392px;
    margin-left: 754px;
    position: absolute;
    z-index: auto;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_adobede {
    margin-top: 440px;
    margin-left: 725px;
    position: absolute;
    z-index: auto;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num10 {
    position: absolute;
    z-index: auto;
    margin-top: 343px;
    margin-left: 1550px;
    font-size: 15px;
    line-height: 31px;
    color: #4f4b58;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.text_num7 {
    position: absolute;
    z-index: auto;
    margin-top: 390px;
    margin-left: 1300px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num3 {
    position: absolute;
    z-index: auto;
    margin-top: 440px;
    margin-left: 920px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_html {
    position: absolute;
    z-index: auto;
    margin-top: 540px;
    margin-left: 720px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_css {
    position: absolute;
    z-index: auto;
    margin-top: 590px;
    margin-left: 700px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_js {
    position: absolute;
    z-index: auto;
    margin-top: 640px;
    margin-left: 770px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num8 {
    position: absolute;
    z-index: auto;
    margin-top: 540px;
    margin-left: 1350px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_num72 {
    position: absolute;
    z-index: auto;
    margin-top: 590px;
    margin-left: 1280px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_4 {
    position: absolute;
    z-index: auto;
    margin-top: 640px;
    margin-left: 1000px;
    font-size: 15px;
    line-height: 31px;
    color: #4a5561;
    font-family: "Source Sans Pro";
    font-weight: 600;
}
.text_who {    
    position: absolute;
    z-index: 0;
    margin-top: 249px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-right: 1600px;
}
.text_vordered {
    border: 1px solid;
    border-width: 10px;
    border-color: #524664;
    padding: 2px;
    width: 345px;
}