* { 
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular-webfont.eot');
    src: url('RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Regular-webfont.woff2') format('woff2'),
         url('RobotoSlab-Regular-webfont.woff') format('woff'),
         url('RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('RobotoSlab-Regular-webfont.svg#Roboto Slab') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.eot');
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-Regular.woff') format('woff'),
        url('SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.blog_back {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 1800px;
    height: 3140px;
    z-index: auto; 
}
.blog_text_first {
    font-size: 35px;
    font-family: "Roboto Slab";
    color: rgb(91, 96, 116);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.857;
    position: absolute;
    left: 844px;
    top: 99.58px;
    width: 94px;
    height: 25px;
    z-index: 147;
  }
.polosa_first {
    background-color: rgb(219, 221, 229);
    position: absolute;
    left: 847px;
    top: 143px;
    width: 88px;
    height: 3px;
    z-index: 146;
}
.text_recent {
    font-size: 16px;
    font-family: "RobotoSlab";
    color: rgb(165, 170, 190);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    left: 789px;
    top: 153px;
    width: 203px;
    height: 12px;
    z-index: 148;
  }
  .Shape_82 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 440px;
    top: 282px;
    width: 673px;
    height: 171px;
    z-index: 65;
}
    .Layer_55 {
    background-image: url(Layer55.png);
    position: absolute;
    left: 422px;
    top: 166px;
    width: 700px;
    height: 525px;
    z-index: 66;
}
  


  
  
  